mixin footer
  button.up
    img(src='../icons/up.svg')
  footer
    .contact
      .container
        .cnrst
          h3
            img(src='../logo.svg')
            |CNRST
          ul
            li
              img(src='../icons/building.svg')
              p Av. Angle Allal Al Fassi et Av. des FAR, Hay Ryad, BP. 8027 10102 Rabat, Maroc Rabat 8027
            li
              img(src='../icons/email.svg')
              |contact@cnrst.com
            li
              img(src='../icons/fax.svg')
              |(+212) 05 37.56.98.00
            li
              img(src='../icons/fax.svg')
              |(+212) 05 37.56.98.34
            li: a(href='#')
              img(src='../icons/http.svg')
              |https://www.cnrst.ma
        .liens
          h4 Liens
          ul
            li: a(href='#') Accueil
            li: a(href='#') CNRST
            li: a(href='#') Unités et services
            li: a(href='#') Financement de la recherche
            li: a(href='#') Informations
            li: a(href='#') Publications
        .apropos
          h4 a propos
          article
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio pariatur dolore quos dolor eos numquam repellat unde illo deleniti? Officia unde saepe minima iusto aspernatur fugiat nam quae, iste nulla blanditiis! Dolores magnam modi nihil provident recusandae quo! Sit reiciendis explicabo commodi repellendus expedita.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores ipsa nam inventore, voluptatibus in accusantium, asperiores mollitia, quaerat ipsum nihil doloremque odit!
    .copy
      .container
        p
          |&copy; Copyright <strong>CNRST</strong>. All Rights Reserved
          span Designed by Younes &amp; Youssef &amp; Mustapha.
        .social
          a(href='#'): img(src='../icons/facebook.svg')
          a(href='#'): img(src='../icons/linkedin.svg')
          a(href='#'): img(src='../icons/github.svg')