mixin head(title, style)  
  meta(charset='utf-8')
  title=  ' - '+ title
  link(rel="icon", href="../logo.svg")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Knewave&display=swap")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap")
  //- link(rel='stylesheet' href='../frameworks/normalize.css')
  link(rel='stylesheet' href= style)