mixin header
  .uphead
    .container
      .head
        img(src='../logo.svg')
      .marquee
        strong المركز الوطني للبحت العلمي والتقني
        strong Centre National Pour La Recherche Scientique et Technique
      .langs
        a(href='#')
          img(src='../icons/morocco.svg')
        a(href='#')
          img(src='../icons/france.svg')
  nav
    .container
      h1
        a(href='../accueil/index.html') CNRST
      ul.sp-menu
        li: a(href='../accueil/index.html') Accueil
        li: a(href='#') CNRST
       
        li: a(href='#') Unités et services
        li
          a(href='#') Financement de la recherche
          div.sp-menu
            div
              strong Programmes nationaux
              ul
                li: a(href='#') CNRST en média
                li: a(href='#') Evénements
                li: a(href='#') CNRST recrute
                li: a(href='#') Appels d'offres
                li: a(href='#') Certification des copies
                li: a(href='#') Droit d'accès à l'information
            div
              strong Programmes nationaux
              ul
                li: a(href='#') CNRST en média
                li: a(href='#') Evénements
                li: a(href='#') CNRST recrute
                li: a(href='#') Appels d'offres
                li: a(href='#') Certification des copies
                li: a(href='#') Droit d'accès à l'information
        li
          a(href='#') Informations
          .sp-menu
            div
              ul
                li: a(href='#') CNRST en média
                li: a(href='#') Evénements
                li: a(href='#') CNRST recrute
                li: a(href='#') Appels d'offres
                li: a(href='#') Certification des copies
                li: a(href='#') Droit d'accès à l'information
        li
          a(href='#') Publications
          .sp-menu
            div
              ul
                li: a(href='#') Rapports d’activités
                li: a(href='#') Bilans et Etudes 
                li: a(href='#') Newsletter