header {
  background-color: #fff;
  .container {
    display: grid;
    grid-template-columns: auto 0.8fr auto;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 68px;
      h1 {
        margin: 0;
        font-family: Itim, Poppins, Arial;
        a {
          color: #888;
          img {
            height: 68px;
            margin-right: 14px;
            vertical-align: middle;
            margin-right: 0 0 0 12px;
          }
        }
      }
    }
    .search-box {
      background: #2f3640;
      height: 54px;
      border-radius: 22px;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        border: none;
        outline: none;
        background: none;
        display: block;
        width: calc(100% - 48px);
        padding: 0 14px 0 8px;
        color: white;
        font-size: 17px;
        transition: width 0.7s linear;
        line-height: 48px;
      }
      a {
        overflow: hidden;
        width: 48px;
        height: 48px;
        border-radius: 18px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
    .langue {
      display: flex;
      justify-content: space-between;
      a {
        img {
          width: 44px;
        }
      }
    }
  }
}
nav {
  background-color: #2f3640;
  z-index: 7;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #fff;
  .container {
    display: flex;
    padding-block: 0;
    align-items: center;
    .bars {
      display: none;
      position: relative;
      width: 100%;
      color: #fff;
      align-items: center;
      justify-content: flex-end;
      img {
        height: 44px;
        padding: 4px;
        cursor: pointer;
      }
      ul.nav {
        position: absolute;
        top: 47px;
        right: 0;
        width: 100%;
        background-color: #c0392b;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        li {
          width: 100%;
          a {
            display: block;
            padding: .7rem;
            text-align: center;
            width: 100%;
            opacity: .8;
            cursor: pointer;
            transition: opacity .4s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    > ul.nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 1.8rem;
      > li {
        transition: transform 0.2s linear;
        &:first-of-type {
          a {
            padding: 0;
            display: flex;
            align-items: center;
            opacity: 1;
            &:hover {
              &::after {
                width: 0;
              }
            }
            img {
              height: 48px;
              padding: 2px 0;
            }
          }
        }
        a {
          display: block;
          padding: 14px 3px;
          opacity: 0.7;
          position: relative;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 2rem;
          cursor: pointer;
          transition: opacity 0.5s linear;
          &::after {
            content: "";
            background-color: #fff;
            width: 0;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.8s ease-in-out 0.2s;
          }
          &:hover {
            opacity: 1;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  section.sublinks {
    position: absolute;
    left: -244px;
    top: 0;
    transition: left 0.3s linear;
    aside {
      position: sticky;
      top: 0;
      min-height: 100vh;
      width: 244px;
      font-size: 1.7rem;
      background-color: #2f3640;
      display: flex;
      flex-direction: column;
      padding: 4px;
      z-index: 8;
      border-right: 1px solid #fff;
      .x {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-inline: 8px;
        img {
          height: 36px;
          cursor: pointer;
        }
      }
      ul {
        display: none;
        flex-direction: column;
        strong {
          display: block;
          margin-block: 12px 8px;
          border-bottom: 0.8px solid #999;
        }
        li {
          a {
            padding: 8px 4px;
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  nav {
    .container {
      justify-content: flex-end;
      .bars {
        display: flex;
      }
      > ul.nav {
        display: none;
      }
    }
  }
}
@media (max-width: 575.98px) {
  header {
    .container {
      justify-content: space-between;
      grid-template-columns: auto auto;
      .search-box {
        display: none;
      }
      .langue {
        width: -moz-fit-content;
        width: fit-content;
      }
    }
  }
}