html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ecf0f1;
}
::-webkit-scrollbar-thumb {
  background: #0571b8;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 4px 14px;
}
a {
  color: #fff;
}
.header {
  position: relative;
  padding-left: 28px;
  font-size: 32px;
  margin: 0 0 33px;
  width: 100%;
  &:before {
    content: "";
    display: block;
    height: 34px;
    width: 8px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1199.98px) {
  .container {
    width: 98.8%;
  }
}
