.uphead {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    .head {
      height: 100%;
      img {
        height: 100%;
      }
    }
    .marquee {
      width: 77%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      text-align: center;
      font-size: 18px;
      strong {
        display: block;
        width: 100%;
        padding: 0 8px;
      }
    }
    .langs {
      display: flex;
      justify-content: space-between;
      a {
        img {
          width: 44px;
        }
      }
    }
  }
}
nav {
  background-color: #086ad8;
  z-index: 8;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: Knewave, Popping, Arial;
      flex-shrink: 2;
      max-width: 30%;
      margin: 8px 0;
      font-size: 28px;
      letter-spacing: 2px;
    }
    ul.sp-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > li {
        position: relative;
        &:not(:last-of-type) {
          margin-right: 8px;
        }
        a {
          display: block;
          padding: 12px 3px;
          opacity: 0.4;
          transition: all 1s;
          position: relative;
          &::after {
            content: "";
            background-color: #fff;
            width: 0;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;
          }
          &:hover {
            opacity: 1;
            &::after {
              width: 100%;
            }
          }
        }
        .sp-menu {
          display: none;
          justify-content: space-between;
          position: absolute;
          right: 0;
          top: 100%;
          background-color: #086ad8;
          padding: 10px;
          div {
            display: flex;
            flex-wrap: wrap;
            strong {
              width: 100%;
              text-align: center;
              padding-block: 8px;
            }
            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              li {
                // width: 100%;
                white-space: nowrap;
                padding-inline: 6px;
                border-bottom: none;
                a {
                  white-space: nowrap;
                }
                &:first-child {
                  margin-top: 6px;
                }
                &:last-child {
                  margin-bottom: 6px;
                }
              }
            }
          }
        }
        &:hover {
          .sp-menu {
            display: flex;
          }
        }
      }
    }
  }
}
@media (max-width: 575.98px) {
  .uphead {
    .container {
      .marquee {
        strong {
          &:first-child {
            display: none;
          }
        }
      }
    }
  }
}
