mixin head(title, style)  
  meta(charset='utf-8')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title=  'CNRST - ' + title
  link(rel="icon", size='88x88', href="../logo.svg")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim&display=swap")
  link(rel='stylesheet' href='../frameworks/normalize.css')
  link(rel='stylesheet' href= style)