include ../frameworks/_head
include ../frameworks/_header
include ../frameworks/_footer
doctype html
html
  head
    +head('Contact', 'style-contact.css')
  body
    +header
    main
      .contact
        .container
          .info
            h2.header Contact Us
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iusto repudiandae harum placeat sequi, illo incidunt tempora nemo modi alias. Esse quaerat consectetur reprehenderit dolorum nisi blanditiis, dolorem illo ipsa perspiciatis facere officiis quisquam magnam odio eaque eos sapiente nemo repudiandae error eius dicta.
            p
              img(src='../icons/email.svg')
              |contact@cnrst.com
            p
              img(src='../icons/fax.svg')
              |(+212) 05 37.56.98.00
            p
              img(src='../icons/fax.svg')
              |(+212) 05 37.56.98.34
          form
            label Name *
            input(type="text")
            label Email Ardress *
            input(type="email")
            label Phone *
            input(type="text")
            label Message *
            textarea
            input(type="submit" value="Contact Us")
    +footer