doctype html
html
  head
    meta(charset='utf-8')
    title CNRST
    link(rel='icon', href='../icon.png')
    link(rel='stylesheet' href='../normalize.css')
    link(rel='stylesheet' href='style-accueil.css')
  body
    .container
      header
        img(src='../logo.png')
        .lang
          span Français
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path style="fill:#41479B;" d="M38.345,88.273C17.167,88.273,0,105.44,0,126.618v258.759c0,21.177,17.167,38.345,38.345,38.345 h132.322V88.273H38.345z"/><rect x="170.67" y="88.277" style="fill:#F5F5F5;" width="170.67" height="335.45"/><path style="fill:#FF4B55;" d="M473.655,88.273H341.333v335.448h132.322c21.177,0,38.345-17.167,38.345-38.345V126.618	C512,105.44,494.833,88.273,473.655,88.273z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          span العربية
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path style="fill:#FF4B55;" d="M473.655,423.724H38.345C17.167,423.724,0,406.557,0,385.379V126.621 c0-21.177,17.167-38.345,38.345-38.345h435.31c21.177,0,38.345,17.167,38.345,38.345V385.38 C512,406.557,494.833,423.724,473.655,423.724z"/><path style="fill:#5A8250;" d="M297.951,277.961l67.433-49.478h-83.509L256,148.845l-25.875,79.638h-83.509l67.433,49.478 l-25.675,79.022l67.56-48.289l0.066,0.049l0.066-0.049l67.56,48.289L297.951,277.961z M311.478,246.138l-19.273,14.142	l-4.595-14.142H311.478z M234.784,271.277l8.169-25.14h26.094l8.169,25.14L256,286.845L234.784,271.277z M256,205.983l7.31,22.5 h-14.622L256,205.983z M200.522,246.138h23.868l-4.595,14.142L200.522,246.138z M221.737,311.431l7.302-22.472l11.911,8.739	L221.737,311.431z M282.962,288.959l7.302,22.472l-19.212-13.732L282.962,288.959z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
      nav
        .content
          ul
            li
              a.active(href='#') Accueil
            li
              a(href='#') CNRST
            li
              a(href='#') Untés et services
            li
              a(href='#') Financement de la recherche
            li
              a(href='#') Informations
            li
              a(href='#') Publications
              ul
                li: a(href='#') Rapports D'activités
                li: a(href='#') Bilans et Etudes
                li: a(href='#') Newsletter
          form
            input(type="text", placeholder='Recherche..')
            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
      hr.nav
      main
        section
          h2 Actualités
          hr
          .actualites
            section
              img(src='../studio/00.jpg')
              a(href='#') Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
            section
              img(src='../studio/01.jpg')
              a(href='#') Résultats de la Bourse d’Excellence de Recherche Édition 2021
            section
              img(src='../studio/02.jpg')
              a(href='#') Lancement d’un nouvel appel à candidatures relatif aux Experts évaluateurs affiliés au CNRST
            section
              img(src='../studio/03.jpg')
              a(href='#') Signature d’une convention-cadre de coopération entre le CNRST et l’ANRSI
          .projects
            .articles
              h3 Appels à projets
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4  Lancement de l'édition 2022 de l'Appel
                p Aperçu : Le Partenariat Hubert Curien Maghreb ou PHC Maghreb est régi par une convention...
            .articles
              h3 Appels à projets
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4  Lancement de l'édition 2022 de l'Appel
                p Aperçu : Le Partenariat Hubert Curien Maghreb ou PHC Maghreb est régi par une convention...
            .articles
              h3 Appels à projets
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4  Lancement de l'édition 2022 de l'Appel
                p Aperçu : Le Partenariat Hubert Curien Maghreb ou PHC Maghreb est régi par une convention...
            .articles
              h3 Appels à projets
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4 Lancement de l'édition 2022-2023 de l'appel à projets CNRST/CNR Italie
                p Dans le cadre de l’accord de coopération scientifique et technologique conclu entre le Centre Natio...
              article
                h4  Lancement de l'édition 2022 de l'Appel
                p Aperçu : Le Partenariat Hubert Curien Maghreb ou PHC Maghreb est régi par une convention...
        aside
          img(src='../studio/01.jpg')
          h4 Manifestations scientifiques
          input(type="date")
          a(href='#') Liste des événements
          a(href='#') Proposer un événement
          h4 Photothéque
          .phototheque
            hr
            img(src='../studio/03.jpg')
            .choix
              button &lt;
              span 2 / 3
              button &gt;
            img(src='../studio/03.jpg')
            img(src='../studio/03.jpg')
            img(src='../studio/03.jpg')
            img(src='../studio/03.jpg')
            img(src='../studio/03.jpg')
            img(src='../studio/03.jpg')
      footer
        .copy Copyright © 2018 CNRST. All Rights Reserved.
        .social
          a(href='https://www.facebook.com'): <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path style="fill:#1976D2;" d="M448,0H64C28.704,0,0,28.704,0,64v384c0,35.296,28.704,64,64,64h384c35.296,0,64-28.704,64-64V64 C512,28.704,483.296,0,448,0z"/><path style="fill:#FAFAFA;" d="M432,256h-80v-64c0-17.664,14.336-16,32-16h32V96h-64l0,0c-53.024,0-96,42.976-96,96v64h-64v80h64	v176h96V336h48L432,256z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          a(href='https://www.linkedin.com/home'): <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196;" xml:space="preserve"><g><circle style="fill:#007AB9;" cx="56.098" cy="56.097" r="56.098"/><g><path style="fill:#F1F2F2;" d="M89.616,60.611v23.128H76.207V62.161c0-5.418-1.936-9.118-6.791-9.118	c-3.705,0-5.906,2.491-6.878,4.903c-0.353,0.862-0.444,2.059-0.444,3.268v22.524H48.684c0,0,0.18-36.546,0-40.329h13.411v5.715 c-0.027,0.045-0.065,0.089-0.089,0.132h0.089v-0.132c1.782-2.742,4.96-6.662,12.085-6.662 C83.002,42.462,89.616,48.226,89.616,60.611L89.616,60.611z M34.656,23.969c-4.587,0-7.588,3.011-7.588,6.967	c0,3.872,2.914,6.97,7.412,6.97h0.087c4.677,0,7.585-3.098,7.585-6.97C42.063,26.98,39.244,23.969,34.656,23.969L34.656,23.969z M27.865,83.739H41.27V43.409H27.865V83.739z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          a(href='https://github.com/'): <svg style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="_x37_1-github"><g><g><g><path d="M255.969,21.733c-131.739,0-238.572,107.541-238.572,240.206 c0,106.107,68.362,196.121,163.205,227.91c11.929,2.22,16.285-5.196,16.285-11.567c0-5.713-0.205-20.817-0.33-40.856 c-66.36,14.507-80.375-32.208-80.375-32.208c-10.828-27.756-26.489-35.139-26.489-35.139 c-21.684-14.893,1.613-14.591,1.613-14.591c23.948,1.701,36.534,24.759,36.534,24.759 c21.295,36.694,55.866,26.105,69.465,19.947c2.146-15.521,8.318-26.105,15.154-32.116 c-52.974-6.073-108.69-26.681-108.69-118.699c0-26.229,9.31-47.668,24.576-64.478c-2.475-6.071-10.646-30.507,2.329-63.554 c0,0,20.045-6.455,65.613,24.614c19.031-5.325,39.432-7.982,59.742-8.072c20.25,0.123,40.676,2.747,59.738,8.105 c45.547-31.074,65.559-24.614,65.559-24.614c13.002,33.077,4.832,57.482,2.387,63.549c15.297,16.81,24.516,38.25,24.516,64.482 c0,92.258-55.773,112.563-108.92,118.512c8.559,7.422,16.191,22.069,16.191,44.471c0,32.124-0.297,58.019-0.297,65.888 c0,6.427,4.293,13.903,16.402,11.54c94.697-31.824,162.998-121.805,162.998-227.883 C494.604,129.273,387.771,21.733,255.969,21.733L255.969,21.733z M255.969,21.733" style="fill:#6879D9;"/></g></g></g></g><g/></svg>
        .contact: a(href='#') Contact
        button.up
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="970.504px" viewBox="0 0 970.504 970.503" style="enable-background:new 0 0 970.504 970.503;" xml:space="preserve"><g><path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27 c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5 c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"/><path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27 c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4 c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    script(src="script.js")         