include ../frameworks/head
include ../frameworks/navbar
include ../frameworks/photo
include ../frameworks/footer
doctype html
html
  head
    +head('Accueil', 'style.css')
  body
    +navbar
    main
      section
        .container
          h2.header À la une
          div.primary
            section
              img(src='../images/studio/02.jpg')
              a(href='#') Démenti à propos de la publication d'un supposé classement des universités marocaines par le CNRST
            article
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque in nisi tempora fugit, corporis, nihil, quis odio ipsum debitis dolor similique mollitia tempore quaerat sit omnis magni nulla. Aperiam voluptas delectus recusandae itaque reprehenderit at, cum suscipit corporis cumque rerum eveniet sint repellendus modi.
          div
            img(src='../images/studio/0.jfif')
            article
              a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales 
          div
            img(src='../images/studio/01.jpg')
            article
              a(href='#') Démenti à propos de la publication d'un supposé classement des universités marocaines par le CNRST 
          div
            img(src='../images/studio/00.jpg')
            article
              a(href='#') Résultats du Prix de la Meilleure Recherche Scientifique sur la Lutte contre les Violences Faites aux Femmes 
          div
            img(src='../images/studio/1.webp')
            article
              a(href='#') Résultats de l’Appel à pré-Projets de Recherche &amp; Développement multithématique 2020
      .articles
        .container
          #appels
            h3: strong Appels à projects
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quidem ducimus repellendus quisquam hic sed quod a quis aspernatur nostrum blanditiis id aliquam, sunt odio beatae mollitia facilis suscipit. Illo, perferendis ipsum iste recusandae assumenda mollitia deleniti cum similique fugiat accusantium fuga aliquam.
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur minus cum, inventore dolores quas, doloribus, deleniti accusamus atque esse facilis aliquid eius.
          #bourses
            h3: strong Bourses
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quidem ducimus repellendus quisquam hic sed quod a quis aspernatur nostrum blanditiis id aliquam, sunt odio beatae mollitia facilis suscipit. Illo, perferendis ipsum iste recusandae assumenda mollitia deleniti cum similique fugiat accusantium fuga aliquam.
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quidem ducimus repellendus quisquam hic sed quod a quis aspernatur nostrum blanditiis id aliquam, sunt odio beatae mollitia facilis suscipit. Illo, perferendis ipsum iste recusandae assumenda mollitia deleniti cum similique fugiat accusantium fuga aliquam.
          #evenements
            h3: strong Evénements
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quidem ducimus repellendus quisquam hic sed quod a quis aspernatur nostrum blanditiis id aliquam, sunt odio beatae mollitia facilis suscipit. Illo, perferendis ipsum iste recusandae assumenda mollitia deleniti cum similique fugiat accusantium fuga aliquam.
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quidem ducimus repellendus quisquam hic sed quod a quis aspernatur nostrum blanditiis id aliquam, sunt odio beatae mollitia facilis suscipit. Illo, perferendis ipsum iste recusandae assumenda mollitia deleniti cum similique fugiat accusantium fuga aliquam.
          #annonces
            h3: strong Annonces
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quidem ducimus repellendus quisquam hic sed quod a quis aspernatur nostrum blanditiis id aliquam, sunt odio beatae mollitia facilis suscipit. Illo, perferendis ipsum iste recusandae assumenda mollitia deleniti cum similique fugiat accusantium fuga aliquam.
            article
              h4 Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ut error modi. Laudantium ex, dolores, accusamus amet, repellat quasi dolorem molestiae vitae atque optio beatae? Quod at in fugiat perspiciatis aspernatur omnis odio?
            article
              h4: a(href='#') Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quidem ducimus repellendus quisquam hic sed quod a quis aspernatur nostrum blanditiis id aliquam, sunt odio beatae mollitia facilis suscipit. Illo, perferendis ipsum iste recusandae assumenda mollitia deleniti cum similique fugiat accusantium fuga aliquam.
            article
              h4 Résultats relatifs aux Bourses de Recherche dans le domaine des Technologies Spatiales
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ut error modi. Laudantium ex, dolores, accusamus amet, repellat quasi dolorem molestiae vitae atque optio beatae? Quod at in fugiat perspiciatis aspernatur omnis odio?
      +photo
      .contact
          .container
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad unde, minima a explicabo maiores aut ducimus magni, iure illo architecto amet ipsum provident fuga modi quos cumque voluptate quia? Ea, aliquid accusamus quam perferendis neque nemo voluptatem corrupti!
            a(href='../contact/contact.html') Nous contacter
    +footer
    script(src="../scripts/slid.js")