include ../frameworks/_head
include ../frameworks/_header
include ../frameworks/_footer
doctype html
html
  head
    +head('Accueil', 'style.css')
  body
    +header
    main
      .intro: .container
        section
          h2 المركز الوطني للبحت العلمي والتقني
          h2 Centre National Pour La Recherche Scientique et Technique
          .search-box
            input(type="text" name="search" placeholder="Recherche...")
            a(href="#"): img(src="../icons/search-icon.svg")
        .logo: img(src="../logo.svg")
      section.actualite       
        .container
          h3.header Actualite
          -for (let i=0; i<3; i++)
            div
              img(src="../images/studio/0" + i + ".jpg", alt="")
              a(href='#')
                |Résultats de l’Appel à pré-Projets de Recherche &amp; Développement multithématique 2020
      .articles
        .container
          section
            h3 Appels à projets
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur autem necessitatibus doloremque blanditiis voluptate architecto omnis vel eveniet sunt officiis ipsam, ipsum nam, pariatur amet quibusdam? Facilis odio magnam dolorem! Velit perspiciatis qui earum numquam consequatur cumque? Autem ex dicta quos architecto laboriosam facilis harum inventore dolor natus, consequuntur, ad eius earum nobis sed soluta quia ipsum praesentium vel tempore cumque aut, dolorem odio culpa ab!
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur autem necessitatibus doloremque blanditiis voluptate architecto omnis vel eveniet sunt officiis ipsam, ipsum nam, pariatur amet quibusdam? Facilis odio magnam dolorem! Velit perspiciatis qui earum numquam consequatur cumque? Autem ex dicta quos architecto laboriosam facilis harum inventore dolor natus, consequuntur, ad eius earum nobis sed soluta quia ipsum praesentium vel tempore cumque aut, dolorem odio culpa ab!
          section
            h3 Bourses
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur autem necessitatibus doloremque blanditiis voluptate architecto omnis vel eveniet sunt officiis ipsam, ipsum nam, pariatur amet quibusdam? Facilis odio magnam dolorem! Velit perspiciatis qui earum numquam consequatur cumque? Autem ex dicta quos architecto laboriosam facilis harum inventore dolor natus, consequuntur, ad eius earum nobis sed soluta quia ipsum praesentium vel tempore cumque aut, dolorem odio culpa ab!
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur autem necessitatibus doloremque blanditiis voluptate architecto omnis vel eveniet sunt officiis ipsam, ipsum nam, pariatur amet quibusdam? Facilis odio magnam dolorem! Velit perspiciatis qui earum numquam consequatur cumque? Autem ex dicta quos architecto laboriosam facilis harum inventore dolor natus, consequuntur, ad eius earum nobis sed soluta quia ipsum praesentium vel tempore cumque aut, dolorem odio culpa ab!
          section
            h3 Evénements
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur autem necessitatibus doloremque blanditiis voluptate architecto omnis vel eveniet sunt officiis ipsam, ipsum nam, pariatur amet quibusdam? Facilis odio magnam dolorem! Velit perspiciatis qui earum numquam consequatur cumque? Autem ex dicta quos architecto laboriosam facilis harum inventore dolor natus, consequuntur, ad eius earum nobis sed soluta quia ipsum praesentium vel tempore cumque aut, dolorem odio culpa ab!
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sint facilis culpa consequuntur earum minima hic iste beatae? Nesciunt aliquid facere vitae!
          section
            h3 Annonces
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sint facilis culpa consequuntur earum minima hic iste beatae? Nesciunt aliquid facere vitae!
            article
              h4: a(href='#') Lorem, ipsum.
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur autem necessitatibus doloremque blanditiis voluptate architecto omnis vel eveniet sunt officiis ipsam, ipsum nam, pariatur amet quibusdam? Facilis odio magnam dolorem! Velit perspiciatis qui earum numquam consequatur cumque? Autem ex dicta quos architecto laboriosam facilis harum inventore dolor natus, consequuntur, ad eius earum nobis sed soluta quia ipsum praesentium vel tempore cumque aut, dolorem odio culpa ab!
      .phototheque
        .container
          h3.header Photothéque
        .container
          img(src='../icons/left-arrows.svg' id='prev')
          ul.slider
            li: img(src="../images/studio/00.jpg")
            li: img(src="../images/studio/02.jpg")
            li: img(src="../images/studio/01.jpg")
            li: img(src="../images/studio/0.jfif")
            li: img(src="../images/studio/0.png")
            li: img(src="../images/studio/1.webp")
          img(src='../icons/right-arrows.svg' id='next')
      .contact
        .container
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad unde, minima a explicabo maiores aut ducimus magni, iure illo architecto amet ipsum provident fuga modi quos cumque voluptate quia? Ea, aliquid accusamus quam perferendis neque nemo voluptatem corrupti!
          a(href='../contact/contact.html') Contact Us
    +footer
    script(src="../scripts/jquery-3.5.1.min.js")
    script(src="../scripts/script.js")
    script(src="../scripts/custom.js")