* {
  box-sizing: border-box;
}

body {
  background-image: url("../back.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 14px auto;
  background-color: #fff;
}

header {
  width: 100%;
  height: 200px;
  background-image: url("../banniere.png");
  background-repeat: no-repeat;
  position: relative;
}
header img {
  height: 100%;
}
header .lang {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
}
header .lang svg {
  width: 38px;
  height: 38px;
  cursor: pointer;
}
header .lang span {
  display: block;
  line-height: 38px;
  padding: 0 10px;
  cursor: pointer;
}

nav {
  background-color: #2c2c2c;
  z-index: 2;
}
nav .content {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
nav .content > ul {
  width: 80%;
  height: 100%;
  padding: 0 0 0 8px;
}
nav .content > ul > li {
  width: fit-content;
  display: inline-block;
}
nav .content > ul > li a {
  display: block;
  padding: 10px 7px;
  width: 100%;
  height: 100%;
}
nav .content > ul > li a:hover, nav .content > ul > li a.active {
  background-color: #3a6ea1;
}
nav .content > ul > li ul {
  display: none;
  position: absolute;
  top: 38.4px;
  left: 0;
  background-color: rgba(58, 110, 161, 0.88);
  padding: 8px 14px;
}
nav .content > ul > li ul li {
  display: block;
  width: 100%;
}
nav .content > ul > li ul li a {
  padding: 10px 12px;
  width: 100%;
  display: block;
}
nav .content > ul > li ul li a:hover {
  color: #ae3256;
  background-color: #fff;
}
nav .content > ul > li ul li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}
nav .content > ul > li:hover ul {
  display: block;
}
nav .content form {
  width: 19%;
  padding: 4px 0;
  position: relative;
}
nav .content form input {
  background-color: #000;
  padding: 4px 33px 4px 8px;
  border-radius: 8px;
  border: none;
  width: 98%;
  height: 100%;
  color: #aaa;
}
nav .content form svg {
  color: #aaa;
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  cursor: pointer;
}
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

hr.nav {
  margin: 0;
  border: 4px solid #3a6ea1;
}

main {
  display: flex;
  justify-content: space-between;
}
main section {
  color: #333;
  padding: 8px;
  width: 70%;
}
main section hr {
  border: none;
  border-bottom: 1px solid #777;
}
main section .actualites {
  display: flex;
  justify-content: space-between;
}
main section .actualites section {
  width: 24%;
  text-align: center;
}
main section .actualites section img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
main section .actualites section a {
  color: #444;
}
main section .projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main section .projects .articles {
  width: 48%;
  padding: 10px;
}
main section .projects .articles h3 {
  background-color: #8fca3e;
  position: relative;
  padding: 10px 36px;
  color: #fff;
}
main section .projects .articles h3:before {
  content: "";
  width: 0;
  height: 0;
  border: 15px solid #74a72e;
  border-top-width: 18px;
  border-bottom-width: 18px;
  border-top-color: #fff;
  border-left-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
main section .projects .articles h3:nth-of-type(4) {
  background-color: #e24f43;
}
main section .projects .articles h3:nth-of-type(4):before {
  border: 15px solid #e24f43;
}
main section .projects .articles h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main section .projects .articles:nth-of-type(2) h3 {
  background-color: #e67e22;
}
main section .projects .articles:nth-of-type(2) h3:before {
  border: 15px solid orangered;
  border-top-width: 18px;
  border-bottom-width: 18px;
  border-top-color: #fff;
  border-left-color: #fff;
}
main section .projects .articles:nth-of-type(3) h3 {
  background-color: #3a80e4;
}
main section .projects .articles:nth-of-type(3) h3:before {
  border: 15px solid #00f;
  border-top-width: 18px;
  border-bottom-width: 18px;
  border-top-color: #fff;
  border-left-color: #fff;
}
main aside {
  width: 28%;
  padding: 14px;
}
main aside img {
  display: block;
  width: 100%;
}
main aside h4 {
  margin: 22px 0 8px;
}
main aside input {
  width: 100%;
  margin: 8px 0 14px;
  padding: 4px 14px;
  border: none;
  box-shadow: 0 0 8px #444;
  border-radius: 8px;
}
main aside a {
  color: revert;
  display: block;
}
main aside a:last-of-type {
  margin-bottom: 22px;
}
main aside .phototheque {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main aside .phototheque img:first-of-type {
  width: 100%;
  border: 1px solid #444;
  padding: 4px;
  margin-bottom: 22px;
}
main aside .phototheque .choix {
  width: 40%;
  margin: 4px 30% 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main aside .phototheque .choix button {
  border-radius: 14px;
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
}
main aside .phototheque img:not(:first-of-type) {
  width: 32%;
  padding: 3px;
  border: 1px solid #444;
}

footer {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
}
footer .copy {
  width: 50%;
  color: #fff;
}
footer .social {
  width: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social a {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social a svg {
  width: 88%;
}
footer .contact {
  width: 20%;
  text-align: center;
}
footer .up {
  width: 4%;
  background: #fff;
  padding: 4px 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
footer .up svg {
  width: 66%;
}

@media (max-width: 1200px) {
  .container {
    width: 98%;
  }

  nav .content {
    width: 100%;
  }
}

/*# sourceMappingURL=style-accueil.css.map */
