@import "../frameworks/normalize.css";
@import "../frameworks/style-global";
@import "../frameworks/style-header";
main {
  .intro {
    height: calc(100vh - 123.45px);
    .container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      section {
        width: 54%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h2 {
          font-size: 38px;
          margin: 14px 0;
          text-align: center;
        }
        .search-box {
          background: #2f3640;
          margin-top: 14px;
          height: 60px;
          border-radius: 38px;
          padding: 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover {
            input {
              width: 330px;
              padding: 0 6px;
            }
          }
          input {
            border: none;
            background: none;
            outline: none;
            padding: 0;
            color: white;
            font-size: 17px;
            transition: width 0.7s linear;
            line-height: 48px;
            width: 0px;
          }
          a {
            background-color: #e84118;
            overflow: hidden;
            width: 48px;
            height: 48px;
            border-radius: 18px;
            padding: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center center;
            }
          }
        }
      }
      .logo {
        width: 44%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          width: 80%;
          animation: rotate 8s linear 0s infinite;
        }
      }
    }
  }
  .actualite {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(206, 241, 247, 0.3) 6%,
      rgba(206, 241, 247, 0.3) 94%,
      rgba(255, 255, 255, 1) 100%
    );
    padding: 88px 0;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h3 {
        width: 100%;
      }
      div {
        border-radius: 14px 60px;
        box-shadow: 6px 6px 10px #888;
        transition: transform 0.8s ease-in-out;
        width: 32%;
        position: relative;
        overflow: hidden;
        margin-bottom: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(40%);
          transition: transform 0.8s linear;
        }
        a {
          display: block;
          width: 100%;
          padding: 8px 14px;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgb(0 0 0 / 0.4);
          box-shadow: 0 8px 10px rgb(0 0 0 / 0.4), 0 -8px 10px rgb(0 0 0 / 0.4);
          z-index: 2;
          line-height: 1.6;
        }
        &:hover {
          transform: translateY(6px);
          img {
            transform: scale(1.2, 1.2);
          }
        }
      }
    }
  }
  .articles {
    padding: 44px 0;
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
      section {
        h3 {
          background-color: #95a5a6;
          margin: 8px 22px 0 0;
          padding: 8px 14px 14px;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          color: #fff;
          border-bottom-right-radius: 160% 66%;
          box-shadow: 8px 8px 12px #95a5a6;
        }
        &:first-child {
          h3 {
            background-color: #8fca3e;
          }
        }
        &:nth-child(2) {
          h3 {
            background-color: #e67e22;
          }
        }
        &:nth-child(3) {
          h3 {
            background-color: #e24f43;
          }
        }
        &:last-child {
          h3 {
            background-color: #3a80e4;
          }
        }
        article {
          a {
            color: #000;
          }
          p {
            color: #666;
            height: 54px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .phototheque {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(223, 230, 233, 0.4) 6%,
      rgba(223, 230, 233, 0.4) 94%,
      rgba(255, 255, 255, 1) 100%
    );
    background-size: cover;
    padding: 44px 0;
    .container {
      position: relative;
      &:last-of-type {
        height: 498px;
        > img {
          display: block;
          width: 60px;
          position: absolute;
          top: 50%;
          filter: drop-shadow(0 0 44px #fff);
          transform: translateY(-50%);
          cursor: pointer;
          &:first-of-type {
            left: 40px;
          }
          &:last-of-type {
            right: 40px;
          }
        }
        ul {
          width: 100%;
          height: 100%;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;
            &:not(:first-of-type) {
              display: none;
            }
            img {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .contact {
    padding: 22px 0;
    .container {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 18px;
      p {
        line-height: 1.7;
        font-size: 22px;
        color: #636e72;
      }
      a {
        background-color: #086ad8;
        color: rgb(255 255 255 / 0.7);
        font-size: 22px;
        padding: 16px 22px;
        border-radius: 8px;
        cursor: pointer;
        transition: color 0.4s;
        &:hover {
          color: rgb(255 255 255);
        }
      }
    }
  }
}
@import "../frameworks/style-footer";
@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  main {
    .actualite {
      .container {
        flex-direction: column;
        div {
          width: 100%;
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
  nav .container .links {
    display: none;
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
  main {
    .intro {
      height: auto;
      .container {
        flex-direction: column-reverse;
        .logo {
          width: 100%;
        }
        section {
          width: 100%;
          padding: 44px 0;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (max-width: 1199.98px) {
  main {
    .actualite {
      .container {
        justify-content: space-around;
        div {
          width: 48%;
          a {
            font-size: small;
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }
