main section {
    padding: 0 0 44px;
}

    main section .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

        main section .container .primary {
            width: 100%;
            height: 374px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            main section .container .primary section {
                width: 60%;
                height: 100%;
                position: relative;
            }

                main section .container .primary section img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                    object-position: center center;
                }

                main section .container .primary section a {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 1.7;
                    padding: 8px 8px 8px 22px;
                    height: 100%;
                    width: 68%;
                    letter-spacing: 1.8px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 4;
                    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.964) 7.4%, rgba(0, 0, 0, 0.918) 15.3%, rgba(0, 0, 0, 0.862) 23.4%, rgba(0, 0, 0, 0.799) 31.6%, rgba(0, 0, 0, 0.73) 39.9%, rgba(0, 0, 0, 0.655) 48.2%, rgba(0, 0, 0, 0.577) 56.2%, rgba(0, 0, 0, 0.497) 64%, rgba(0, 0, 0, 0.417) 71.3%, rgba(0, 0, 0, 0.337) 78.1%, rgba(0, 0, 0, 0.259) 84.2%, rgba(0, 0, 0, 0.186) 89.6%, rgba(0, 0, 0, 0.117) 94.1%, rgba(0, 0, 0, 0.054) 97.6%, rgba(0, 0, 0, 0) 100%);
                }

            main section .container .primary article {
                position: relative;
                width: 38%;
            }

                main section .container .primary article p {
                    color: #636e72;
                    text-align: justify;
                    line-height: 1.7;
                    font-size: 1.8rem;
                }

        main section .container div:not(.primary) {
            margin-top: 14px;
            width: 24%;
            height: 220px;
            text-align: center;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            box-shadow: 4px 4px 8px #878787;
        }

            main section .container div:not(.primary) img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                position: absolute;
                left: 0;
                top: 0;
                transition: transform 1s;
            }

            main section .container div:not(.primary) a {
                position: relative;
                z-index: 2;
                display: block;
                color: #fff;
                font-size: 1.5rem;
                line-height: 1.6;
                background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.964) 7.4%, rgba(0, 0, 0, 0.918) 15.3%, rgba(0, 0, 0, 0.862) 23.4%, rgba(0, 0, 0, 0.799) 31.6%, rgba(0, 0, 0, 0.73) 39.9%, rgba(0, 0, 0, 0.655) 48.2%, rgba(0, 0, 0, 0.577) 56.2%, rgba(0, 0, 0, 0.497) 64%, rgba(0, 0, 0, 0.417) 71.3%, rgba(0, 0, 0, 0.337) 78.1%, rgba(0, 0, 0, 0.259) 84.2%, rgba(0, 0, 0, 0.186) 89.6%, rgba(0, 0, 0, 0.117) 94.1%, rgba(0, 0, 0, 0.054) 97.6%, rgba(0, 0, 0, 0) 100%);
                padding: 2px;
            }

            main section .container div:not(.primary):hover img {
                transform: scale(1.2, 1.2);
            }

main .articles {
    padding: 48px 0;
    background-color: rgba(220, 220, 220, 0.2);
}

    main .articles .container div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        main .articles .container div h3 {
            width: 100%;
            margin-top: 0;
            font-size: 2.2rem;
            letter-spacing: 1px;
            overflow: hidden;
            position: relative;
            font-family: Itim, Poppins, Arial;
        }

            main .articles .container div h3 strong {
                background-color: #f8f8f8;
                position: relative;
                padding-right: 14px;
                z-index: 2;
            }

            main .articles .container div h3:after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: tomato;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateY(-50%);
                z-index: 1;
            }

        main .articles .container div article {
            width: 48.8%;
            padding: 8px 10px;
        }

            main .articles .container div article h4 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 2rem;
                font-weight: normal;
                letter-spacing: 0.8px;
                margin: 4px 0;
            }

                main .articles .container div article h4 a {
                    color: #000;
                }

            main .articles .container div article p {
                padding: 0;
                margin: 12px 0;
                color: #4f5658;
                display: -webkit-box;
                display: box;
                width: 100%;
                height: 6.72rem;
                font-size: 1.6rem;
                line-height: 1.4;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        main .articles .container div:not(:first-child) {
            margin-top: 12px;
        }

main .phototheque .container .show {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

    main .phototheque .container .show img {
        object-fit: cover;
        object-position: center;
    }

        main .phototheque .container .show img.data {
            height: 88%;
        }

        main .phototheque .container .show img.exit {
            width: 38px;
            height: 38px;
            position: fixed;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

main .phototheque .container .img-content {
    display: none;
}

    main .phototheque .container .img-content ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

        main .phototheque .container .img-content ul li {
            overflow: hidden;
        }

            main .phototheque .container .img-content ul li img {
                width: 100%;
                height: 100%;
                max-height: 180px;
                object-fit: cover;
                object-position: center center;
                cursor: pointer;
            }

main .phototheque .container .active {
    display: block;
}

main .phototheque .container section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

    main .phototheque .container section span {
        width: 10px;
        height: 10px;
        padding: 4px;
        margin: 10px;
        background-color: #8d8c8c;
        border-radius: 50%;
        cursor: pointer;
    }

        main .phototheque .container section span.selected {
            transform: scale(1.8, 1.8);
            background-color: aquamarine;
        }

@media (max-width: 575.98px) {
    main .phototheque .container .show img.data {
        width: 88%;
        height: auto;
        max-height: 88vh;
    }

    main .phototheque .container .img-content ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 991.98px) {
    main .phototheque .container .img-content ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
main #about {
    background-color: #b2bec3;
    color: #fff;
}
    main #about .container p {
        color: #fff;
    }
main .contact {
    background-color: rgba(220, 220, 220, 0.2);
    padding: 28px 0;
}

    main .contact .container {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 18px;
    }

        main .contact .container p {
            line-height: 1.7;
            font-size: 22px;
            color: #636e72;
        }

        main .contact .container a {
            background-color: #086ad8;
            color: rgba(255, 255, 255, 0.7);
            font-size: 22px;
            padding: 16px 22px;
            border-radius: 8px;
            cursor: pointer;
            text-align: center;
            transition: color 0.4s;
            white-space: nowrap;
        }

            main .contact .container a:hover {
                color: white;
            }
@media (max-width: 575.98px) {
    main section .container div:not(.primary) {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    main .articles .container div article {
        width: 100%;
    }

    main .contact .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    main section .container .primary {
        flex-direction: column;
    }

        main section .container .primary section {
            width: 100%;
        }

        main section .container .primary article {
            width: 100%;
        }
}

@media (max-width: 991.98px) {
    main section .container div:not(.primary) {
        width: 48%;
    }
}
