main .container {
    display: grid;
    grid-template-columns: 1fr 28%;
    column-gap: 8px;
}

    main .container article {
        line-height: 1.8;
        font-size: 1.8rem;
        padding-inline: 22px;
        text-align: center;
    }

        main .container article strong {
            display: block;
            margin-block: 10px;
            font-weight: 400;
            font-size: 1.7rem;
            color: #999;
        }

        main .container article img {
            width: 70%;
            max-height: 220px;
            object-fit: cover;
            object-position: center;
        }

        main .container article p {
            line-height: 1.7;
        }

        main .container article a {
            display: block;
            font-size: 2.2rem;
            color: #777;
            margin-block: 14px;
        }
    main .container aside {
        padding-top: 22px;
    }

        main .container aside .liens {
            margin-block: 14px;
        }

            main .container aside .liens h3.header {
                font-size: 2rem;
            }

            main .container aside .liens a {
                display: block;
                margin-block: 8px;
                color: #777;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        main .container aside > img {
            width: 100%;
        }

        main .container aside .phototheque .container .show {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10;
            display: none;
            justify-content: center;
            align-items: center;
        }

            main .container aside .phototheque .container .show img {
                object-fit: cover;
                object-position: center;
            }

                main .container aside .phototheque .container .show img.data {
                    height: 88%;
                }

                main .container aside .phototheque .container .show img.exit {
                    width: 38px;
                    height: 38px;
                    position: fixed;
                    right: 10px;
                    top: 10px;
                    cursor: pointer;
                }

        main .container aside .phototheque .container .img-content {
            display: none;
        }

            main .container aside .phototheque .container .img-content ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 8px;
            }

                main .container aside .phototheque .container .img-content ul li {
                    overflow: hidden;
                }

                    main .container aside .phototheque .container .img-content ul li img {
                        width: 100%;
                        height: 100%;
                        max-height: 100px;
                        object-fit: cover;
                        object-position: center center;
                        cursor: pointer;
                    }

        main .container aside .phototheque .container .active {
            display: block;
        }

        main .container aside .phototheque .container section {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 14px;
        }

            main .container aside .phototheque .container section span {
                width: 10px;
                height: 10px;
                padding: 4px;
                margin: 10px;
                background-color: #8d8c8c;
                border-radius: 50%;
                cursor: pointer;
            }

                main .container aside .phototheque .container section span.selected {
                    transform: scale(1.8, 1.8);
                    background-color: aquamarine;
                }

@media (max-width: 575.98px) {
    main .container aside .phototheque .container .show img.data {
        width: 88%;
        height: auto;
        max-height: 88vh;
    }

    main .container aside .phototheque .container .img-content ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 991.98px) {
    main .container aside .phototheque .container .img-content ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

main .container aside .phototheque {
    width: 100%;
}

    main .container aside .phototheque .container {
        width: 100%;
        margin: 0;
        display: block;
    }

        main .container aside .phototheque .container h3.header {
            font-size: 2rem;
        }
main .container aside section {
    padding: 14px 0;

}
main .container aside section a {
    color: #383737;
    text-decoration: underline;
}