include ../frameworks/head
include ../frameworks/navbar
include ../frameworks/photo
include ../frameworks/footer
doctype html
html
  head
    +head('Page', 'style-page.css')
  body
    +navbar
    main
      .container
        article
          h2 Démenti à propos de la publication d'un supposé classement des universités marocaines par le CNRST
          strong Appels à projects
          img(src='../images/studio/12.jpg')
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. At consectetur quas accusantium est amet atque ullam maxime, suscipit soluta, rerum hic facilis explicabo saepe minus. Id hic atque officiis non? Blanditiis praesentium sit optio est, excepturi ipsam libero temporibus reprehenderit nobis tempore, repudiandae ut.
        aside
          img(src='../images/ADI.png')
          .liens
            h3.header À la une
            a(href='#') Démenti à propos de la publication d'un supposé classement des universités marocaines par le CNRST
            a(href='#') Démenti à propos de la publication d'un supposé classement des universités marocaines par le CNRST
            a(href='#') Démenti à propos de la publication d'un supposé classement des universités marocaines par le CNRST
            a(href='#') Démenti à propos de la publication d'un supposé classement des universités marocaines par le CNRST
          +photo
    +footer
    script(src="../scripts/slid.js")