@import "../frameworks/navbar";
main {
  .container {
    display: grid;
    grid-template-columns: 1fr 28%;
    column-gap: 8px;
    article {
      line-height: 1.8;
      font-size: 1.8rem;
      padding-inline: 22px;
      text-align: center;
      strong {
        display: block;
        margin-block: 10px;
        font-weight: 400;
        font-size: 1.7rem;
        color: #999;
      }
      img {
        width: 70%;
        max-height: 220px;
        object-fit: cover;
        object-position: center;
      }
      p {
        line-height: 1.7;
      }
    }
    aside {
      padding-top: 22px;
      .liens {
        margin-block: 14px;
        h3.header {
          font-size: 2rem;
        }
        a {
          display: block;
          margin-block: 8px;
          color: #777;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      > img {
        width: 100%;
      }
      @import "../frameworks/photo";
      .phototheque {
        width: 100%;
        .container {
          width: 100%;
          margin: 0;
          display: block;
          h3.header {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@import "../frameworks/footer";
